.link{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 15px;
    font-size: 18px;
    padding: 20px;
   }
   .first{
      height: 100px;
      width: 1260px;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      background-color: white;
   }
   .logo{
       display: flex;
       justify-content: center;
       align-items: center;
       float: left;
       margin-left:30px;
       color: navy;
   }
   .iconbar{
     height: 80px;
     width: 200px;
     gap: 20px;
     display: flex;
     justify-content: center;
     align-items: center;
   }
   .icon1 {
       display: flex;
       gap: 5px;
       background-color: lightgray;
       font-size: 20px;
       padding: 10px;
       
     }
     
     .icon2 {
       display: flex;
       gap: 5px;
       background-color: lightgray;
       font-size: 20px;
       padding: 10px;
     }
     .icon3{
       display: flex;
       gap: 5px;
       background-color: lightgray;
       font-size: 20px;
       padding: 10px;
     }
     .icon1:hover {
       color: navy ;
     }
     .icon2:hover {
       color: navy ;
     }
     .icon3:hover {
       color: navy ;
     }
     body {
        font-family: Arial, sans-serif;
        text-align: center;
        background-color: white;
        background-image: linear-gradient(lightgray); 
      }
      
      h2 {
        margin: 20px 0;
        font-size: 20px;
      }
      
      .highlight {
        color: black;
      }
      
      .products-label {
        background-color: darkgreen;
        color: white;
        padding: 5px 15px;
        border-radius: 5px;
      }
      
      .product-container {
        display: flex;
        justify-content: center;
        gap: 20px;
        margin-top: 30px;
      }
      
      .product-card {
        background-color: white;
        border: 1px solid lightgray;
        padding: 20px;
        width: 200px;
        border-radius: 8px;
        box-shadow: 0 4px 6px black;
      }
      
      .product-card img {
        width: 100px;
        height: 100px;
      }
      
      .product-card h3 {
        font-size: 20px;
        color: black;
      }
      
      .product-card p {
        color: gray;
        margin: 10px 0;
      }
      
      .stars {
        color: orange;
        font-size: 12px;
        margin: 5px 0;
      }
      
      button {
        padding: 10px;
        background-color: white;
        border: 2px solid green;
        color: darkblue;
        cursor: pointer;
        border-radius: 5px;
      }
      button:hover{
        background-color: green;
      }      